<div class="report-list">
    <div class="report-container" 
         *ngFor="let element of [1,2,3,]">
          <div class="report-content">
                <div class="report-body">
                    <div class="report-image">image</div>
                    <div class="report-info">
                        <span>Title</span>
                        <span>Status</span>
                        <span>Acompanhamento</span>
                    </div>
                </div>
          </div>
          <div class="report-content">content 2</div>
    </div>
</div>
