<div class="page">
    <div class="page-title">Registro de todas as minhas limpezas</div>
    <div class="page-body">
        <div class="user-reports">

            <div class="report-container" 
                 *ngFor="let element of [1,2,3,4]">

            <div class="report-head">
                <div class="report-icon">
                    <img src="assets/icons/report-icon.png" alt="">
                </div>
                <div class="report-description">
                    <span>Registro: </span>
                    <span>Aula: </span>
                    <span>Date: </span>
                    <span>Responsavél: </span>
                </div>
            </div>
            <div class="report-bars">
                <img src="assets/icons/report-bars.png" alt="">
            </div>
            <div class="report-grid">
                <img src="assets/icons/report-grid.png" alt="">
            </div>

            </div>

        </div>
       
    </div>
</div>
