<div class="page">

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="../../registros-cenarios"> Registros </a></li>
            <li class="breadcrumb-item active" aria-current="page"><a>{{registerName}}</a></li>
        </ol>
    </nav>
  
    <div class="details-list">

        <div class="card-container" *ngFor="let simulator of simulators">
                <div class="card-body" (click)="openRegisterDialogs(simulator)">
                    <div class="card-head">
                        <div class="card-image">
                            <img [src]="simulator.image" alt="">
                        </div>
                        <div class="card-description">
                            <span>{{simulator.name}}</span>
                            <span>{{simulator.description}}</span>
                            <span>Quantidade: {{simulator.codes.length}}</span>
                        </div>
                        <div class="card-icon">
                            <span class="material-symbols-outlined">visibility</span>
                        </div>
                    </div>
                </div>
              
        </div>
    
    </div>

</div>