<div class="page">
    <div class="page-header">
        <div class="grid-button-container">
        
            <div class="grid-item">
              <button mat-raised-button class="form-options form-buttons" (click)="openAddNewUserDialog()"> + Novo usuário manutenção</button>
            </div>
     
        </div>
    </div> 

    <div class="loader-container" *ngIf="isLoading">
      <span class="loader"></span>
    </div>
    
    <div class="page-body scroll-container">

      <div class="load-users" *ngIf="manitenceUsers.length > 0">

        <div class="container" *ngFor="let element of manitenceUsers">
          <div class="details-list" *ngIf="element.userData">
            <div class="card-container" (click)="openEditUserDialog(element)">
              <div class="card-body">
                <div class="card-head">
                  <div class="card-image">
                    <img src="assets/images/users/user-default-manitence.png" alt="user-default-imag">
                  </div>
                  <div class="card-description">
                    <span>Usuário: {{element.userData.name}}</span>
                    <span>Tipo: {{element.userData.role}}</span>
                    <span>E-mail: {{element.userData.email}}</span>
                  </div>
                  <div class="card-icon">
                    <span class="material-symbols-outlined">visibility</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="!isLoading && manitenceUsers.length == 0 ">
        <span>Não existem usuários de manutenção cadastrados</span>
      </div>

    </div>
</div>



