<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Gestão</span>
            <span class="page-description">Configurações</span>
        </div>
    </div>
    <div class="page-content">
        <div class="grid-container">
            <div class="grid-column">
                <div class="panel-list">
                    <div class="panel-button">
                        <span> Novo usuário</span>
                        <span class="material-symbols-outlined">chevron_right</span>
                       
                    </div>
                    <div class="panel-button">
                        <span> Novo Simulador</span>
                        <span class="material-symbols-outlined">chevron_right</span>
                    </div>
                    <div class="panel-button">
                        <span> Novo Treinamento</span>
                        <span class="material-symbols-outlined">chevron_right</span>
                    </div>
                    <div class="panel-button">
                        <span> Novo Curso</span>
                        <span class="material-symbols-outlined">chevron_right</span>
                       
                    </div>
                </div>
            </div>
            <div class="grid-column">colum2</div>
        </div>
    </div>
</div>
