<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Concertos</span>
            <span class="page-description">Registre um processo de intervenção no simulador</span>
        </div>
        <div class="p-header-menu">
            <app-nav-menu
                alink="Baixa-Fidelidade"
                blink="Media-Fidelidade"
                clink="Alta-Fidelidade"
                pageType="concerts">  
            </app-nav-menu>
        </div>
    </div>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
