.add-item-container{
    margin-top: 12px;
    padding: 4px;
    gap: 4px;
    display: flex;
    justify-content: end;

    .add-item{
        margin-right: 21px;
        display: flex;
        align-items: center;
        gap: 3px;

        .add-text{
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}