
.default-btn{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #0dcaf0;
    transition: all ease 1;
    &:hover{
        opacity: 0.5;
    }
}
.confirm-btn{
    background-color: #18718d;
    color: white;
}
.cancel-btn{
    background-color: #c95c5c;
    color: white;
}
