.report-detail-list{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    .report-detail-container{
        height: 160px;
        box-shadow: 2px 2px 7px #7d7979;
        display: grid;
        grid-template-columns: auto auto;

        .report-content{
            padding: 10px;
            border-right: 1px solid #cdc9c9;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .report-content-header{
                .report-code{
                    float: right;
                }
            }

            .report-body{
                // background-color: #feeec0;
                height: 100%;
                display: flex;
                gap: 26px;
                .report-image{
                    width: 137px;
                    border-radius: 10px;
                    img{
                        margin-top: 7px;
                        width: 137px;
                        height: 95px;
                        box-shadow: 0px 2px 7px #bdb5b5;
                        border-radius: 5px;
                    }
                }
                .report-info{
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    justify-content: center;
                    align-items: flex-start;

                    .report-button{
                        padding: 5px;
                        border-radius: 3px;
                        
                        background-color: rgb(194, 131, 131);
                        &.red{
                            background-color: #b0d5bf
                        }
    
                        &:hover{
                            cursor: pointer;
                            box-shadow: 2px 2px 1px gray;
                        }
                    }

                }
            }

            .report-content-body {
                // width: 350px;
                overflow: hidden;
                text-overflow: ellipsis;
    
            }
              

            .report-content-footer{  

                display: flex;
                align-items: center;
                justify-content: space-between;
                justify-content: flex-end;

                .simulator-image{
                    img{
                        width: 60px;
                        height: 50px;
                        object-fit: cover;
                        &:hover{
                            box-shadow: 0px 2px 7px #bdb5b5;
                            cursor: pointer;
                        }
                    }
                }

                .report-image-btn{
                    display: flex;
                    align-items: center;                
                    padding: 5px;
                    border-radius: 10px;
                    box-shadow: 2px 1px 3px gray;

                    img{
                        width: 60px;
                        height: 50px;
                        object-fit: cover;
                        &:hover{
                            box-shadow: 0px 2px 7px #bdb5b5;
                            cursor: pointer;
                        }
                    }
                }
                
                .link-description{
                    display: flex;
                    background-color: gainsboro;
                    padding: 5px;
                    border-radius: 4px;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;

                    &:hover{
                        box-shadow: 2px 2px 1px gray;
                    }
                }
               
            }
        }
    }
}

