.report-detail-list{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    .report-detail-container{
        height: 132px;
        border: 1px solid;
        display: grid;
        grid-template-columns: auto auto;

        .report-content{
            padding: 10px;
            border-right: 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .report-content-header{
                .report-code{
                    float: right;
                }
            }

            .report-body{
                // background-color: #feeec0;
                height: 100%;
                display: flex;
                gap: 26px;
                .report-image{
                    width: 137px;
                    border-radius: 10px;
                    img{
                        margin-top: 7px;
                        width: 137px;
                        height: 95px;
                        box-shadow: 0px 2px 7px #bdb5b5;
                        border-radius: 5px;
                    }
                }
                .report-info{
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    justify-content: center;
                    align-items: flex-start;

                    .report-button{
                        padding: 5px;
                        border-radius: 3px;
                        background-color: #b0d5bf;
                    }
                }
            }

            .report-content-footer{  
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: flex-end;
                    
                .link-description{
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

