:root{

    --right-panel-width: 320px;
    --right-panel-backgroundColor: #FAFAFA;
    --hover-panel-right-color: #18718D;
    --hover-panel-left-color:#bbdbe9;
    --page-header-width: 190px;
    --left-panel-width:200px;
    --secundary-color:#c95c5c;
    --primary-color:#18718d;

}
