// Core variables
@import "variables";
@import "pageContent";
@import "detailListContainer";
@import "reportContainer";
@import "reportDetailContainer";
@import "cardListGrid";
@import "addItemContainer";
@import "breadcrumbNav";
@import "defaultButton";
@import "scrollBar";

html,
body{
    
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    ul{
        list-style: none;
        padding-inline-start: 0;
    }
    .mat-typography h2{
        margin: 0;
    }
}

// Libraries
//@import "bootstrap";

// Material
//@import './material/angular-material';
//@import './material/angular-progress';



