
<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
        <img src="assets/icons/cloud-download-icon.png" alt="">
    </div>
</div>


<mat-dialog-content class="mat-typography" >
       
    <div class="dialog-body">
           
        <div class="body-header">
                <span><img src="assets/images/logo/scenario-logo.png" alt=""></span>
                <div class="header-description">
                    <h1>Dados da Aula</h1>
                    <span>Disciplina: {{data?.scenarioData?.discipline?.label}}</span>
                    <span>Data abertura: {{data?.scenarioData?.date}}</span>
                    <span>Tipo de Cenário: {{data?.scenarioData?.scenarioCategory}}</span>
                </div>
        </div>

        <div class="body-header">
                <span><img [src]="data?.scenarioData?.simulatorImage" alt=""></span>
                <div class="header-description">
                    <h1>Dados do simulador</h1>
                    <span>Nome: {{data?.scenarioData?.simulatorName}}</span>
                    <span>Código: {{data?.scenarioData?.simulatorCode.code}}</span>
                    <!-- <span>Cenário: {{data?.scenarioData?.scenarioCategory}}</span> -->
                </div>
        </div>
        
        <div class="dialog-description" *ngIf="data?.scenarioData?.hasDescription else showDefault">
                <h2>Descrição da intercorrência de cenário</h2>
                <div class="description">
                    <!-- <span><b>Item da intercorrencia:</b> {{data?.scenarioData?.itemOcorrance?.label}}</span> -->
                    <span> {{data?.scenarioData?.scenarioOcorrance}}</span>
                </div>
        </div>

        <ng-template #showDefault>
            <div class="dialog-description">
                <h2>Descrição da intercorrência de cenário</h2>
                <div class="description">
                    <!-- <span><b>Item da intercorrência:</b> nenhum item selecionado</span> -->
                    <span> {{data?.scenarioData?.scenarioOcorrance}}</span>
                </div>
            </div>
        </ng-template>
      
            
    </div>

</mat-dialog-content>



<mat-dialog-actions class="dialog-actions">
 
    <button class="default-btn cancel-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn confirm-btn">Download</button>
    
</mat-dialog-actions>
