<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Perfil</span>
            <span class="page-description">Informações sobre o seu perfil</span>
        </div>
        <div class="p-header-content">
            <div class="user-content">
                <div class="user-image">
                    <img src="assets/images/logo/user-default.png" alt="">
                </div>
                <div class="user-info">
                    <span>Thales Carvalho</span>
                    <span>moderador</span>
                    <div class="photo-container">
                        <button mat-raised-button class="login-btn">Alterar foto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content scroll-container">

        <div class="page-item">
            <div class="user-details">
                <span><b>Informações de Perfil</b></span>
                <div class="contact-list">
                    <div class="colum">
                        <div class="column-details">
                            <span>E-mail profissional</span>
                            <span>tecnico.labsim.com.br</span>
                        </div>
                        <div class="column-details">
                            <span>Pontos</span>
                            <span>40</span>
                        </div>
                       
                    </div>
                    <div class="colum">
                        <div class="column-details">
                            <span>Função</span>
                            <span>Tecnico de simulação</span>
                        </div>
                        <div class="column-details">
                            <span>Horário</span>
                            <span>07:00 ás 13:00</span>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="page-item">
            <div class="user-details">
                <span><b>Editar Perfil</b></span>
                <div class="contact-list">
                    <div class="colum">

                        <mat-form-field class="mat-form-field" appearance="outline">
                            <mat-label>Alterar email</mat-label>
                            <input matInput #loginName maxlength="20" placeholder="Ex. carlos.souza">
                          </mat-form-field>
                          
                          <mat-form-field appearance="outline">
                            <mat-label>Alterar perfil</mat-label>
                            <mat-select>
                              <mat-option value="one">Admin</mat-option>
                              <mat-option value="two">Técnico</mat-option>
                              <mat-option value="two">Analista</mat-option>
                              <mat-option value="two">moderador</mat-option>
                            </mat-select>
                          </mat-form-field>
                       
                    </div>
                    <div class="colum">
                        <div class="column-details">
                            <span>Função</span>
                            <span>Tecnico de simulação</span>
                        </div>
                        <div class="column-details">
                            <span>Horário</span>
                            <span>07:00 ás 13:00</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="page-item">
            <div class="user-details">
                <span><b>Relatórios</b></span>
                <div class="contact-list">
                    <div class="colum">
                        <div class="chart-container" >
                            <h3 class="graphic-title">Registros de Limpezas</h3>
                            <canvas id="cleaningChart"></canvas>
                        </div>
                    </div>
                    <div class="colum">
                        <div class="chart-container" >
                            <h3 class="graphic-title">Registros de Aulas</h3>
                            <canvas id="manitanceChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

