<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Perfil</span>
            <span class="page-description">Informações sobre o seu perfil</span>
        </div>
        <div class="p-header-content">
            <div class="user-content">
                <div class="user-image">
                    <img src="assets/images/logo/user-default.png" alt="">
                </div>
                <div class="user-info">
                    <span>Thales Carvalho</span>
                    <span>moderador</span>
                    <div class="photo-container">
                        <button mat-raised-button class="login-btn">Alterar foto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="forms">
            <mat-form-field class="mat-form-field" appearance="outline">
                <mat-label>Seu email</mat-label>
                <input matInput #loginName maxlength="20" placeholder="Ex. carlos.souza">
              </mat-form-field>
              <mat-form-field class="mat-form-field" appearance="outline">
                <mat-label>Seu login</mat-label>
                <input matInput #loginName maxlength="20" placeholder="Ex. carlos.souza">
              </mat-form-field>
        </div>
    


    </div>
</div>

