<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Perfil</span>
            <span class="page-description">Informações sobre o seu perfil</span>
        </div>
        <div class="p-header-content">
            <div class="user-content">
                <div class="user-image">
                    <img [src]="userModel?.image" alt="">
                </div>
                <div class="user-info">
                    <span>{{userModel?.name}}</span>
                    <span>{{userModel?.role}}</span>
                    <div class="photo-container">
                        <button mat-raised-button class="login-btn">Alterar foto</button>
                    </div>
                </div>
                <div class="user-details">
                    <div class="contact-list">
                        <div class="column-details">
                            <span>E-mail profissional</span>
                            <span>tecnico.labsim.com.br</span>
                        </div>
                        <div class="column-details">
                            <span>Função</span>
                            <span>Tecnico de simulação</span>
                        </div>
                        <div class="column-details">
                            <span>Pontos</span>
                            <span>40</span>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content scroll-container">
        <div class="sub-menu-link">

            <div class="sub-link-item"  routerLink="profile-cleaning"
                 routerLinkActive="active">
                 Minhas limpezas</div>

            <div class="sub-link-item"  routerLink="profile-lessons"
                 routerLinkActive="active">
                 Minhas Aulas
            </div>

            <div class="sub-link-item" routerLink="profile-edit"
                 routerLinkActive="active">
                 Editar perfil
            </div>
        </div>

        <div class="page-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

