<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Ocorrências</span>
            <span class="page-description">Registre uma ocorrência de aula</span>
        </div>
        <div class="p-header-menu">
            <app-nav-menu
                alink="Habilidade"
                blink="Simulacao"
                clink="Cursos"
                pageType="ocorrences">  
            </app-nav-menu>
        </div>
    </div>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
