<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Ocorrências</span>
            <span class="page-description">Registre uma itercorrencia com o simulador</span>
        </div>
        <div class="p-header-menu">
            <app-nav-menu
                alink="Habilidade"
                blink="m-Fidelidade"
                clink="a-Fidelidade"
                type="ocorrences">  
            </app-nav-menu>
        </div>
    </div>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
