<div class="page">
    <div class="report-detail-list">
        
        <h3>Achados de simulador durante o processo de limpeza</h3>
        <div class="empty-report-data"  *ngIf="!cleaningData || cleaningData.length === 0">
            <span class="empty-default-message">Não existem registros no momento...</span>
        </div>
        
        <div class="report-container-grid"
             *ngFor="let element of cleaningData">
            <div class="report-content">
                <div class="report-body">
                    <div class="report-image">
                        <img [src]="element.simulatorImage" alt="simulatorImag">
                    </div>
                    <div class="report-info">
                            <span>Simulador: {{element.simulatorName}}</span>
                            <span>Data: {{element.date}}</span>

                            <div class="report-button" 
                                (click)="openInterventionReport(element)"
                                [ngClass]="{'red': element.hasIntervention}">
                            <span>
                                {{ element.hasIntervention ? 'Chamado Fechado' : 'Chamado Aberto' }}
                            </span> 
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="report-content">
                <div class="report-footer" (click)="openPreviewCleaningReportDialog(element)">
                    <div class="footer-header">
                        <span>Achados da Limpeza:</span>
                        <span class="report-code">Código: {{element.simulatorCode}}</span>
                    </div>
                    <div class="footer-content">
                        <span>{{element.findings}}</span>
                    </div>
                    <div class="footer-action">
                        <div class="footer-button" (click)="openPreviewCleaningReportDialog(element)">
                            <div class="intervention" *ngIf="element.intervention else default">
                                <span>Status: {{element.intervention.interventionStatus}}</span>
                            </div>
                            <ng-template #default>
                                <span>Status: Enviado para manutenção...</span>
                            </ng-template>
                            <span class="material-symbols-outlined">visibility</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
