<div class="page">

    <div class="page-header">
        <div class="grid-button-container">
     
            <div class="grid-item">
              <button mat-raised-button class="form-options form-buttons" (click)="openAddNewUserDialog()"> + Novo usuário Analista</button>
            </div>
     
        </div>
    </div>

    <div class="loader-container" *ngIf="isLoading">
      <span class="loader"></span>
    </div>

    <div class="page-body scroll-container">

        <div class="load-users" *ngIf="localAnalystUsers?.length > 0">

          <div class="container" *ngFor="let analyst of localAnalystUsers">
            <div class="details-list" *ngIf="analyst">
              <div class="card-container" (click)="openEditUserDialog(analyst)">
                <div class="card-body">
                  <div class="card-head">
                    <div class="card-image">
                      <img src="assets/images/users/user-default-analist.png" alt="user-default-imag">
                    </div>
                    <div class="card-description">
                      <span>Usuário: {{analyst?.name}}</span>
                      <span>Tipo: {{analyst?.role}}</span>
                      <span>E-mail: {{analyst?.email}}</span>
                    </div>
                    <div class="card-icon">
                      <span class="material-symbols-outlined">visibility</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="!isLoading && analystUsers.length == 0 ">
          <span>Não existem usuários analistas cadastrados</span>
        </div>
    


    </div>


</div>

