<div class="page-container">
    <div class="page-header">
        <div class="p-header-title">
            <span class="page-title">Higienização</span>
            <span class="page-description">Registre o processo de limpeza do simulador</span>
        </div>
        <div class="p-header-menu">
            <app-nav-menu
                alink="Habilidade"
                blink="m-Fidelidade"
                clink="a-Fidelidade"
                type="cleaning">  
            </app-nav-menu>
        </div>
        <div class="breadcrumb-menu">
            <span>Higienização /</span>
        </div>
    </div>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
