.page{
    height: 100%;
    // overflow-y: auto;
    .page-container{
        height: 100%;

        .row{
            height: 100%;
           
            .columns{
                
                .card-list{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .simulator-container{
                    width: 100%;
                    .simulator-card{

                        .mat-mdc-card-header{
                            padding: 0px;
                            padding-top: 10px;
                        }
                        .mat-mdc-card-avatar{
                            img{
                                height: 40px;
                                width: 40px;
                                border-radius: 50%;
                                flex-shrink: 0;
                                margin-bottom: 16px;
                                object-fit: cover;
                            }
                        }
                        
                        &:hover,&.active{
                            border: 1px solid var(--green-color);
                            background-color: #bbdbe9;
                            cursor: pointer;
                        }
                    }
                }
            }

            .col-md-8{
                height: 100%;
                overflow-y: auto;

                .details-list{
                    .detail-header{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 14px;
                    }
                }
            }
        }

        
    }
}


