<div class="page">    
    <div class="page-container">
        <div class="row">

            <div class="col-md-4 columns">
                <br>
                <div class="card-list">
                    <div class="simulator-container">
                        <mat-card class="simulator-card" appearance="outlined" routerLink="galeria-baixa" routerLinkActive="active">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/default-image.jpg" alt="">
                                </div>
                            <mat-card-title>Baixa Fidelidade</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Galeria de simuladores Baixa fidelidade</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="simulator-container">
                        <mat-card class="simulator-card" appearance="outlined" appearance="outlined" routerLink="galeria-media" routerLinkActive="active">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/default-image.jpg" alt="">
                                </div>
                            <mat-card-title>Média Fidelidade</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Galeria de simuladores de Média fidelidade</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="simulator-container">
                        <mat-card class="simulator-card" appearance="outlined" appearance="outlined" routerLink="galeria-alta" routerLinkActive="active">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/default-image.jpg" alt="">
                                </div>
                            <mat-card-title>Alta Fidelidade</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Galeria de simuladores de Alta fidelidade</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8 columns scroll-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
