<div class="page">    
    <div class="page-container">
        <div class="row" [ngSwitch]="value">

            <div class="col-md-4 columns">
                <br>
                <div class="card-list">
                    <div class="simulator-container"
                        (click)="getSimulatorData(1)">
                        <mat-card class="simulator-card" appearance="outlined"
                                  (click)="getSimulatorData(1)">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/default-image.jpg" alt="">
                                </div>
                            <mat-card-title>Baixa Fidelidade</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Novo simulador de baixa fidelidade</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="simulator-container"
                         (click)="getSimulatorData(2)">
                        <mat-card class="simulator-card" appearance="outlined">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/default-image.jpg" alt="">
                                </div>
                            <mat-card-title>Média Fidelidade</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Novo simulador de média fidelidade</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="simulator-container"
                         (click)="getSimulatorData(3)">
                        <mat-card class="simulator-card" appearance="outlined">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/default-image.jpg" alt="">
                                </div>
                            <mat-card-title>Alta Fidelidade</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Novo simulador de alta fidelidade</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8 columns scroll-container">
                
                <div class="details-list"*ngSwitchCase="1">
                    
                    <div class="detail-header">
                        <span>Total: {{lowCategories.length}}</span>
                        <button mat-raised-button> + Nova categoria de simulador</button>
                    </div>
                   
                    <div class="card-container" *ngFor="let simulator of lowCategories index as i">
                        <div class="card-body">
                            <div class="card-head">
                                <div class="card-image">
                                    <img [src]="simulator.classImage" alt="">
                                </div>
                                <div class="card-description">
                                    <span>{{simulator.simulatorClass}}</span>
                                    <span>Quantidade por categoria: {{simulator.simulators?.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                   
                </div>
                
                <div class="details-list"*ngSwitchCase="2">
                    
                    <div class="detail-header">
                        <span>Total: {{midiumSimulators.length}}</span>
                        <button mat-raised-button> + Novo simulador</button>
                    </div>

                    <div class="card-container" 
                         *ngFor="let simulator of midiumSimulators"
                         (click)="openNewSimulatorDialog(simulator)">
                        <div class="card-body">
                            <div class="card-head">
                                <div class="card-image">
                                    <img [src]="simulator.image" alt="">
                                </div>
                                <div class="card-description">
                                    <span>{{simulator.name}}</span>
                                    <span>{{simulator.description}}</span>
                                    <span>Quantidade: {{simulator.codes.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div> 

                </div>

                <div class="details-list"*ngSwitchCase="3">
                    
                    <div class="detail-header">
                        <span>Total: {{highSimulators.length}}</span>
                        <button mat-raised-button> + Novo simulador</button>
                    </div>
                    <div class="card-container" *ngFor="let simulator of highSimulators">
                        <div class="card-body">
                            <div class="card-head">
                                <div class="card-image">
                                    <img [src]="simulator.image" alt="">
                                </div>
                                <div class="card-description">
                                    <span>{{simulator.name}}</span>
                                    <span>{{simulator.description}}</span>
                                    <span>Quantidade: {{simulator.codes.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

            </div>
        </div>
        
    </div>
</div>
