
<div class="page">
    <div class="report-detail-list">
        
        <div class="page-header-description">
            <span>Registros das ocorrencias de aulas</span>
        </div>
       
        <div class="empty-report-data"  *ngIf="!lessonReportData || lessonReportData.length === 0">
            <span class="empty-default-message">Não existem registros no momento...</span>
        </div>
        
        <div class="report-container-grid"
             *ngFor="let element of lessonReportData">
            <div class="report-content">
                <div class="report-body">
                    <div class="report-image">
                        <img [src]="element.lessonImage" alt="leeson-image">
                    </div>
                    <div class="report-info">
                            <span>Nome: {{element.lessonCategory}} - {{element.lessonType}}</span>
                            <span>Aula: {{element.lessonName}} </span>
                            <span>Data: {{element.date}} </span>
                    </div>
                </div>
            </div>
            <div class="report-content">
                <div class="report-footer" (click)="openPreviewLessonReportDialog(element)">
                    <div class="footer-header">
                        <span>Registros de aula</span>
                        <span class="report-code">Data: {{element.date}}</span>
                    </div>
                    <div class="footer-content">
                        <span>{{element.lessonOcorrance}}</span>
                    </div>
                    <div class="footer-action">
                        <div class="footer-button">
                            <span><b>Imprimir</b></span>
                            <span class="material-symbols-outlined">visibility</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    </div>
</div>
