
<div class="page">
    <div class="report-detail-list">
        <h3>Registros de ocorrencia de aula</h3>
        <div class="report-detail-container" 
             *ngFor="let element of lessonReportData">
              <div class="report-content">
                    <div class="report-body">
                        <div class="report-image">
                            <img [src]="element.lessonImage" alt="">
                        </div>
                        <div class="report-info">
                            <span>Nome: {{element.lessonCategory}} - {{element.lessonType}}</span>
                            <span>Aula: {{element.lessonName}} </span>
                            <span>Data: {{element.date}} </span>
                            <!-- <span>Status: Enviado para manutenção</span> -->
                        </div>
                    </div>
              </div>
              <div class="report-content">
                <div class="report-content-header">
                    <span><b>Registros de aula</b></span>
                    <!-- <span class="report-code">Data: {{element.date}}</span> -->
                </div>
                <div class="report-content-body">
                    <span>{{element.lessonOcorrance}}</span>
                </div>
                <div class="report-content-footer">
                    <div class="link-description" (click)="openPreviewLessonReportDialog(element)">
                        <span>Imprimir</span>
                        <span class="material-symbols-outlined">visibility</span>
                    </div>
                    
                </div>
              </div>
        </div>
    </div>
</div>
