.modal-header{
    display: flex;
    flex-direction: column;
    padding: 10px;

    .header-container{
        display: flex;
        align-items: center;
        border: 3px solid #d7d7d7;

        .simulator-image{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 5px;
            img{
                width: 130px;
                height: 93px;
                border-radius: 7px;
            }
        }

        .header-description{
            padding: 10px;
            display: flex;
            text-align: justify;
        }
    }
}

.dialog-body{

    .allCheckbox-section{
        display: flex;
        justify-content: flex-end;
    }

    .checkbox-section{
        display: flex;
        flex-direction: column;
    }
    
    .dialog-field{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .manitance-title{
        font-size: 38px;
        color: #18718d;
        align-items: baseline;
    }

    .text-area-form{
        width: 100%;
        height: 188px;
        textarea{
            height: 140px;
        }
    }
}

.dialog-actions{
    justify-content: flex-end;
    gap: 10px;
}