<div class="page">
    <div class="details-list">
        <div class="card-container">
            <div class="card-head">
                <div class="card-image"></div>
                <div class="card-description">
                    <span>Title</span>
                    <span>card description</span>
                    <span>Quantity</span>
                </div>
            </div>
            <div class="register-container">
                <span class="register-btn">btn span</span>
            </div>
        </div>
        <div class="card-container">
            <div class="card-head">
                <div class="card-image"></div>
                <div class="card-description">
                    <span>Title</span>
                    <span>card description</span>
                    <span>Quantity</span>
                </div>
            </div>
            <div class="register-container">
                <span class="register-btn">btn span</span>
            </div>
        </div>
        <div class="card-container">
            <div class="card-head">
                <div class="card-image"></div>
                <div class="card-description">
                    <span>Title</span>
                    <span>card description</span>
                    <span>Quantity</span>
                </div>
            </div>
            <div class="register-container" (click)="openLowCleaningDialog()">
                <span class="register-btn">btn span</span>
            </div>
        </div>
    </div>
</div>
