<div class="page">

  <div class="page-header">
    <div class="grid-button-container">
      <div class="grid-item">
        <mat-form-field appearance="outline" class="form-options">
          <mat-label>Disciplina...</mat-label>
          <mat-select [(ngModel)]="trainingValue">
            <mat-option [value]="i" *ngFor="let element of disciplines index as i">{{element.documentData.name}} -
              {{element.documentData.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <button mat-raised-button class="form-options form-buttons" (click)="openNewLessonDialog()"> + Nova
          Aula</button>
      </div>
      <div class="grid-item">
        <button mat-raised-button class="form-options form-buttons" (click)="openNewDisciplineDialog()"> + Nova
          Disciplina</button>
      </div>
      <div class="grid-item">
        <button mat-raised-button class="form-options form-buttons" (click)="openRemoveLessonDialog()"> Remover
          Disciplina</button>
      </div>
    </div>
  </div>

  <div class="loader-container" *ngIf="isLoading">
    <span class="loader"></span>
  </div>

  <div class="page-body">

    <div class="load-disciplines" *ngIf="disciplines[trainingValue]?.documentData?.lessons?.length > 0 ">

      <div class="container" *ngFor="let lesson of disciplines[trainingValue].documentData.lessons">
        <div class="details-list">
          <div class="card-container" (click)="openEditLessonDialog(lesson, disciplines[trainingValue].docID)">
            <div class="card-body">
              <div class="card-head">
                <div class="card-image">
                  <img src="assets/images/logo/th-logo.png" alt="lesson image">
                </div>
                <div class="card-description">
                  <span>Aula: {{lesson.name}}</span>
                  <span>Descrição: {{lesson.description}}</span>
                  <span>Revisão: {{lesson.updateDate}}</span>
                </div>
                <div class="card-icon">
                  <span class="material-symbols-outlined">visibility</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!isLoading && disciplines[trainingValue]?.documentData?.lessons?.length == 0 ">
      <span>Não existem <b>aulas</b> cadastradas nesta disciplina</span>
    </div>

  </div>
</div>