<div class="report-list">
    <div class="report-container" 
         *ngFor="let element of [1,2,3,]">
          <div class="report-content">
                <div class="report-body">
                    <div class="report-image">
                        <img src="assets/images/Simuladores/RessuciAnne.jpg" alt="">
                    </div>
                    <div class="report-info">
                        <span>Title: Simulador Ressusci Anne</span>
                        <span>Status: Enviado para manutenção</span>
                        <span>Acompanhamento:
                                Aqui vai a descrição do acompanhamento
                        </span>
                    </div>
                </div>
          </div>
          <div class="report-content">
            <div class="report-content-header">
                <span class="report-code">Código: e3ghBH</span>
            </div>
            <div class="report-content-body">
                <span>This place is where the user description text of simulator mal-functions should be</span>
            </div>
            <div class="report-content-footer">
                <span>Saber mais...</span>
            </div>
          </div>
    </div>
</div>

