<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
    </div>
</div>

<mat-dialog-content class="mat-typography" >
        <div class="dialog-body">
            <span>Tem certeza que deseja remover <b>{{data.user.name}}</b>?</span>     

        </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button class="default-btn confirm-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn cancel-btn" (click)="closeDialog()">Remover</button>
            
</mat-dialog-actions>





