.tab-menu-container{
    .menu-list{
        display: flex;
        gap: 30px;
        border-bottom: 1px solid #f0eeee;
        .menu-item{
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
            &:hover, .active{
                border-bottom: 1px solid;
            }
        }
    }
}