<div class="tab-menu-container">
    <div class="menu-list">
        <div class="menu-item" 
             [innerHTML]="aName"
             routerLink="/private/ocorrences/{{routerName}}/{{aName}}"
             routerLinkActive="active">
        </div>
        <div class="menu-item"
             [innerHTML]="bName"
             routerLink="/private/ocorrences/{{routerName}}/{{bName}}"
             routerLinkActive="active">
        </div>
        <div class="menu-item"
             [innerHTML]="cName"
             routerLink="/private/ocorrences/{{routerName}}/{{bName}}"
             routerLinkActive="active">
        </div>
    </div>
</div>
