
<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
        <img src="assets/icons/cloud-download-icon.png" alt="">
    </div>
    <!-- <div class="download">
        <img src="assets/icons/cloud-download-icon.png" alt="">
    </div> -->
</div>

<!-- lessonPreviewDialog  -->
 <div class="lessonDialog" *ngIf="isLessonReport">
    <mat-dialog-content class="mat-typography" >
       
        <div class="dialog-body">
           
            <div class="body-header">
                <span><img [src]="data?.reportData?.lessonImage" alt=""></span>
                <div class="header-description">
                    <h1>Dados da Aula</h1>
                    <span>Disciplina: {{data?.reportData?.lessonCategory}} - {{data?.reportData?.lessonType}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                    <span>Aula: {{data?.reportData?.lessonName}}</span>
                </div>
            </div>
       
            <div class="dialog-description">
                <h2>Descrição do chamado do simulador</h2>
                <div class="description">
                    <span>{{data?.reportData?.lessonOcorrance}}</span>
                </div>
            </div>

            <div class="manitance-register">
                <hr>
                <h2>Manutenção:</h2>

                <div class="manitence-details">
                    
                    <div class="manitence-body" *ngIf="data?.reportData?.intervention else showDefault">
                        <span><b>Status:</b> {{data?.reportData?.intervention.interventionStatus}}</span>
                        <span><b>Data da intervenção:</b>{{data?.reportData?.intervention.interventionDate}}</span>
                        <span><b>Registro da intervenção:</b> {{data?.reportData?.intervention.interventionText}}</span>
                    </div>
    
                    <ng-template #showDefault>
                        <span>Status: Enviado para manutenção...</span>
                        <span>Nenhuma intervenção realizada no momento</span>
                    </ng-template>
                </div>
            
            </div>
            
        </div>

    </mat-dialog-content>
 </div>

 <!-- CursePreviewDialog  -->
 <div class="lessonDialog" *ngIf="isCurseReport">
    <mat-dialog-content class="mat-typography" >
       
        <div class="dialog-body">
            <!-- lesson data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.lessonImage" alt=""></span>
                <div class="header-description">
                    <h1>Dados do Curso</h1>
                    <span>Curso: {{data?.reportData?.lessonType}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                    <span>Nome: {{data?.reportData?.lessonName}}</span>
                </div>
            </div>

         
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <div class="description">
                    <span>{{data?.reportData?.lessonOcorrance}}</span>
                </div>
            </div>

            <div class="manitance-register">
                <hr>
                <h2>Manutenção:</h2>
                <div class="manitence-details">
                    
                    <div class="manitence-body" *ngIf="data?.reportData?.intervention else showDefault">
                        <span><b>Status:</b> {{data?.reportData?.intervention.interventionStatus}}</span>
                        <span><b>Data da intervenção:</b>{{data?.reportData?.intervention.interventionDate}}</span>
                        <span><b>Registro da intervenção:</b> {{data?.reportData?.intervention.interventionText}}</span>
                    </div>
    
                    <ng-template #showDefault>
                        <span>Status: Enviado para manutenção...</span>
                        <span>Nenhuma intervenção realizada no momento</span>
                    </ng-template>
                </div>
            </div>
            
        </div>

    </mat-dialog-content>
 </div>

 <div class="lessonDialog" *ngIf="isManitanceReport">
    <mat-dialog-content class="mat-typography" >
      
        <div class="dialog-body">

            <!-- lesson data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.simulatorImage" alt=""></span>
                <div class="header-description">
                    <h1>Detalhes da Manutenção</h1>
                    <span>Simulador: {{data?.reportData?.simulatorName}}</span>
                    <span>Código: {{data?.reportData?.code.code}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                </div>
            </div>

            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <div class="description">
                    <span>{{data?.reportData?.manitanceFindings}}</span>
                </div>
            </div>

            <div class="manitance-register">
                <hr>
                <h2>Manutenção:</h2>
                <div class="manitence-details">
                    
                    <div class="manitence-body" *ngIf="data?.reportData?.intervention else showDefault">
                        <span><b>Status:</b> {{data?.reportData?.intervention.interventionStatus}}</span>
                        <span><b>Categoria da Manutenção:</b> {{data?.reportData?.manitanceCategory}}</span>
                        <span><b>Data da intervenção:</b> {{data?.reportData?.intervention.interventionDate}}</span>
                        <span><b>Registro da intervenção:</b> {{data?.reportData?.intervention.interventionText}}</span>
                    </div>
    
                    <ng-template #showDefault>
                        <span><b>Status:</b> Enviado para manutenção...</span>
                        <span><b>Categoria da Manutenção:</b> {{data?.reportData?.manitanceCategory}}</span>
                        <span>Nenhuma intervenção realizada no momento</span>
                    </ng-template>
                </div>
            </div>
            
        </div>

    </mat-dialog-content>
 </div>

<mat-dialog-actions class="dialog-actions">
 
    <button class="default-btn cancel-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn confirm-btn" (click)="generatePDF()">Download</button>
    
</mat-dialog-actions>

