<div class="page">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="../../treinamentos"> Manutenções </a></li>
            <li class="breadcrumb-item active" aria-current="page"><a> </a></li>
        </ol>
    </nav>
    <div class="details-list">
        <div class="card" *ngFor="let element of [1,2]">
            <span>name: </span>
            <span>description</span>
        </div>
            <!-- <div class="card-container" *ngFor="let simulator of simulators">
                <div class="card-head">
                    <div class="card-image">
                        <img [src]="simulator.image" alt="">
                    </div>
                    <div class="card-description">
                        <span>{{simulator.name}}</span>
                        <span>{{simulator.description}}</span>
                        <span>Quantidade: 1</span>
                    </div>
                </div>
                <div class="register-container">
                    <span class="register-btn">saber mais...</span>
                </div>
            </div> -->
        
       
    </div>

</div>