<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <!-- <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
        <img src="assets/icons/add.png" alt=""> -->
        <h2>Tem certeza que deseja remover a classe de simulador ?</h2>
    </div>
</div>

<mat-dialog-content class="mat-typography scroll-container">
        <div class="dialog-body">
            <!-- <h2>Tem certeza que deseja remover este simulador ?</h2> -->
            <div class="body-header">
                <span class="simulator-image">
                    <img [src]="data?.simulatorData?.classImage" alt="">
                </span>
                <div class="header-description">
                    <span>Classe: {{data?.simulatorData?.simulatorClass}}</span>
                    <span>Categoria: Baixa Fidelidade</span>
                    <span>* Leia as instruções abaixo antes de remover</span>
                    
                </div>
            </div>
            <div class="dialog-description">
                <div class="description-text">
                    <h2>Simuladores da classe</h2>
                    <div class="grid">
                        <div class="grid-item" *ngFor="let element of data?.simulatorData?.simulators">
                            <div class="grid-item-body">
                                <img [src]="element.image" alt="">
                                <span>{{element.name}}</span>
                            </div>
                           
                        </div>
                    </div>
                    <h2>*Antes de remover</h2>
                    <ul class="description-list">
                        <li>Antes de remover esta <b>classe de simulador</b>, tenha atenção que esta ação irá remover também todos os simuladores a ela associados;</li>
                        <li>Todos os relatórios que foram gerados para os simuladores desta classe <b>antes da remoção</b>  iram permanecer;</li>
                        <li>Não haverá outra forma de fazer registros para os simuladores que foram excluidos junto com a classe;</li>
                    </ul>
                </div>
               
            </div>
        </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button class="default-btn confirm-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn cancel-btn" (click)=closeDialog()>Remover</button>
    
</mat-dialog-actions>

