<div class="modal-header">
    <div class="header-container">

        <div class="simulator-image">
            <img src="assets/images/Simulators/MediumFidelity/ressuciAnne.jpg" alt="">
            <span>SimMan 3G</span>
        </div>
        <div class="header-description">
            <span>
                A <b>ocorrência </b>do simulador é um importante processo que vai garantir a durabilidade e a conservação da peça.
                Para além disso, aumenta o ciclo de vida do simulador, contribuindo para sua saúde.
            </span>
        </div>
        
    </div>
</div>

<mat-dialog-content class="mat-typography" >

    <div class="dialog-body">

  
      <mat-form-field appearance="outline" class="medium-date-picker">
            <mat-label>Data da aula</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="dialog-field">
          <h2>Houve ocorrência de aula?</h2>
          <mat-checkbox class="manitance-checkbox" (change)="checkBox($event.checked)">Nenhuma</mat-checkbox>
      </div>
       
      <div class="text-area-container" *ngIf="checked else showTextArea">
        <p class="text-msg"[innerHtml]="textMsg"></p>
      </div>

    
      <ng-template #showTextArea>
              <mat-form-field class="text-area-form" appearance="outline">
                  <mat-label>Durante a aula ...</mat-label>
                  <textarea formControlName="textArea" matInput ></textarea>
              </mat-form-field>
      </ng-template>
   

      <div class="dialog-field">
        <h2>Houve ocorrência de simulador?</h2>
        <mat-checkbox class="manitance-checkbox" (change)="checkBox($event.checked)">Nenhum</mat-checkbox>
      </div>

      <div class="dialog-field-code">

        <mat-form-field appearance="outline">
          <mat-label>Simulador</mat-label>
          <mat-select formControlName="simulator">
              <mat-option (click)="getSimulator(simulator)"
                          *ngFor="let simulator of mediumSimulators"
                          [value]="simulator.name">
                          {{simulator.name}}
              </mat-option>
          </mat-select>
        </mat-form-field>

         <div class="simulator-code">
          <mat-form-field class="code-field" appearance="outline">
            <mat-label>Código</mat-label>
            <mat-select formControlName="code">
                <mat-option #matoption *ngFor="let element of simulatorCodes; let i= index"
                            (click)="getCode(element)"
                             [value]="element.code"
                             [disabled]="element.disabled">
                             {{element.code}}
                </mat-option>
            </mat-select>
        </mat-form-field>
         </div>
         
      </div>

      <ng-template *ngIf="!simulatorCodes">
        <h2>Descreva</h2>
        <mat-form-field class="manitance-text-area" appearance="outline">
          <mat-label>Durante a aula o Simulador...</mat-label>
          <textarea   matInput ></textarea>
      </mat-form-field>
      </ng-template>
           
    </div>


</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
 
    <button class="default-btn cancel-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn confirm-btn">Confirmar</button>
    
</mat-dialog-actions>