.content{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 100%;
    .main-content{
        width: calc(100% - var(--right-panel-width));
        height: 100%;
       
    }

}