<div class="page">    
    <div class="page-container">
        <div class="row">
            <div class="col-md-4 columns">
                <div class="card-list">
                    <div class="simulator-container">
                        <mat-card class="simulator-card" appearance="outlined"
                                  routerLink="novo-admin" routerLinkActive="active">
                            <mat-card-header class="card-head">
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/users/user-default-admin.png" alt="user-default-imag">
                                </div>
                                <div class="card-titles">
                                    <mat-card-title>Administradores</mat-card-title>
                                    <mat-card-subtitle>NOVO admin</mat-card-subtitle>
                                </div>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Cadastre um novo usuário adminsitrador</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="simulator-container">
                        <mat-card class="simulator-card" appearance="outlined" 
                                  routerLink="novo-analista" routerLinkActive="active">
                            <mat-card-header class="card-head">
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/users/user-default-analist.png" alt="user-default-imag">
                                </div>
                                <div class="card-titles">
                                    <mat-card-title>Analistas</mat-card-title>
                                    <mat-card-subtitle>NOVO ANALISTA</mat-card-subtitle>
                                </div>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Cadastre um novo usuário analista</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="simulator-container">
                        <mat-card class="simulator-card" appearance="outlined"
                                  routerLink="novo-tecnico" routerLinkActive="active">
                            <mat-card-header class="card-head">
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/users/user-default-tec.png" alt="user-default-imag">
                                </div>
                                <div class="card-titles">
                                    <mat-card-title>Técnicos</mat-card-title>
                                    <mat-card-subtitle>NOVO TECNICO</mat-card-subtitle>
                                </div>
                               
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Cadastre um novo usuário técnico</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="simulator-container">
                        <mat-card class="simulator-card" appearance="outlined"
                                  routerLink="novo-manutencao" routerLinkActive="active">
                            <mat-card-header class="card-head">
                                <div mat-card-avatar class="example-header-image">
                                    <img src="assets/images/users/user-default-manitence.png" alt="user-default-imag">  
                                </div>
                                <div class="card-titles">
                                    <mat-card-title>Manutenção</mat-card-title>
                                    <mat-card-subtitle>Nova manutenção</mat-card-subtitle>
                                </div>
                            </mat-card-header>
                            <mat-card-actions>
                                <span>Cadastre um novo usuário manutenção</span>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-md-8 columns">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
