<div class="page">

    <div class="page-container">
        <div class="details-list">
                    
            <div class="detail-header">
                    <span>Total: {{highSimulators?.length}}</span>
                    <button mat-raised-button (click)="openNewSimulatorDialog()"> + Novo simulador</button>
            </div>
                       
            <div class="card-container" 
                *ngFor="let simulator of highSimulators"
                (click)="openDetailSimulatorDialog(simulator)">
                <div class="card-body">
                    <div class="card-head">
                        <div class="card-image">
                            <img [src]="simulator.image" alt="">
                        </div>
                        <div class="card-description">
                            <span>{{simulator.name}}</span>
                            <span>{{simulator.description}}</span>
                            <span>Quantidade: {{simulator.codes.length}}</span>
                        </div>
                    </div>
                </div>
            </div> 
                       
        </div>
    </div>

</div>

