.panel-container{
    height: 100%;
    width: var(--left-panel-width);
    border-right: 1px solid #DBD7D7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .header-list{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #DBD7D7;

        .header-item{
            display: flex;
            margin-left: 20px;
            align-items: center;
            padding: 10px;
            transition: 0.4s;
            .user-img,img{
                width: 38px;
                height: 38px;
                border-radius: 50%;
                object-fit: cover;
               
            }
            .user-content{
                display: flex;
                flex-direction: column;
                gap: 6px;
                margin-left: 10px;
                .user-name{
                    font-size: 14px;
                }
            }
            .item-container{
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 10px;
                width: 100%;
                border-radius: 10px;
                cursor: pointer;
                &:hover,&.active{
                    background-color: #bbdbe9;
                }
            }
            
        }
        .header-item-message{
            display: flex;
            margin-left: 20px;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            padding: 10px;
            transition: 0.4s;
            font-weight: bold;
            color: var(--primary-color);
        }
    }

    .panel-icons-list{
        display: flex;
        flex-direction: column;
        gap: 35px;
        text-align: center;

        .panel-item{
            cursor: pointer;
            height: 37px;
            .item-container{
                display: flex;
                margin-left: 20px;
                align-items: center;
                gap: 16px;
                border-radius: 10px;
                padding: 10px;
                margin-right: 10px;
                transition: 0.4s;
                //transform: 1s;
                .p-icon{
                    font-size: 34px;
                }
                .item-text{
                    font-size: 20px;
                    color: gray;
                    font-family: none;
                }
                &:hover,&.active{
                    background-color: var(--hover-panel-left-color);
                }
            }

            .horizontal-line{
                width: 145px;
                border-bottom:1px solid #DBD7D7;
                margin-left: 32px;
            }
        }

        .horizontal-line{
            width: 145px;
            border-bottom:1px solid #DBD7D7;
            margin-left: 32px;
        }
    }
    
    .footer-panel{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .panel-item{
            cursor: pointer;
            height: 37px;
            .item-container{
                display: flex;
                margin-left: 20px;
                align-items: center;
                gap: 16px;
                border-radius: 10px;
                padding: 10px;
                margin-right: 10px;
                transition: 0.4s;
                //transform: 1s;
                .p-icon{
                    font-size: 34px;
                }
                .item-text{
                    font-size: 20px;
                    color: gray;
                    font-family: none;
                }
                &:hover,&.active{
                    background-color: var(--hover-panel-left-color);
                }
            }
        }
    }
}