<div class="panel-container">
    <div class="panel-icons-list">
        <span class="panel-icon" routerLink="home" matTooltip="Home">
                <span id="home-icon" class="material-symbols-outlined icon-img" routerLinkActive="active">window</span>
        </span>
        <span class="panel-icon" routerLink="cleaning">
            <img  class="icon-img" id="clean-icon" src="assets/icons/clean_icon.png" alt="" routerLinkActive="active">
        </span>
        <span class="panel-icon" routerLink="ocorrences">
            <img class="icon-img" src="assets/icons/ocorrence_icon.png" alt="" routerLinkActive="active">
        </span>
        <span class="panel-icon">
            <img src="assets/icons/concerts_icon.png" alt="">
        </span>
        <span class="panel-icon">
            <img src="assets/icons/following_icon.png" alt="">
        </span>
    </div>
    <div class="last-icon">
        <span>
            <img src="assets/icons/config_icon.png" alt="">
        </span>
    </div>
</div>
