.sub-menu-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    .menu-item{
        padding: 17px;
        border-radius: 20px;
        width: 185px;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: none;
        gap: 5px;
        background-color: #FAFAFA;
        &:hover, &.active{
            background-color: var(--hover-panel-left-color);
            color: gray;
        }
    }
}