
<div class="sub-menu-container">
    <div class="sub-menu-list">
        <div class="menu-item"  
             routerLink="/private/{{pageType}}/{{alink}}"
             routerLinkActive="active">
            <img src="assets/icons/grid_icon_black.png" alt="">
            <span [innerHTML]="alink"></span>
        </div>
        <div class="menu-item"
             routerLink="/private/{{pageType}}/{{blink}}"
             routerLinkActive="active">
             <img src="assets/icons/grid_icon_black.png" alt="">
             <span [innerHTML]="blink"></span>
        </div>
        <div class="menu-item"
             routerLink="/private/{{pageType}}/{{clink}}"
             routerLinkActive="active"
             *ngIf="clink != ''">
             <img src="assets/icons/grid_icon_black.png" alt="">
             <span [innerHTML]="clink"></span>
        </div>
    </div>