<div class="page">

  <div class="page-header">
    <div class="grid-button-container">
      <div class="grid-item">
        <button mat-raised-button class="form-options form-buttons" (click)="openAddNewUserDialog()"> + Novo usuário
          administrador</button>
      </div>
    </div>
  </div>

  <div class="loader-container" *ngIf="isLoading">
    <span class="loader"></span>
  </div>

  <div class="page-body scroll-container">

    <div class="load-users" *ngIf="adminUsers.length > 0">

      <div class="container" *ngFor="let admin of adminUsers">
        <div class="details-list" *ngIf="admin.userData">
          <div class="card-container" (click)="openEditUserDialog(admin)">
            <div class="card-body">
              <div class="card-head">
                <div class="card-image">
                  <img src="assets/images/users/user-default-admin.png" alt="user-default-image">
                </div>
                <div class="card-description">
                  <span>Usuário: {{admin.userData.name}}</span>
                  <span>Tipo: {{admin.userData.role}}</span>
                  <span>E-mail: {{admin.userData.email}}</span>
                </div>
                <div class="card-icon">
                  <span class="material-symbols-outlined">visibility</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!isLoading && adminUsers.length == 0 ">
      <span>Não existem usuários administradores cadastrados</span>
    </div>


  </div>

</div>