.page{
    height: 100%;
    display: flex;
    flex-direction: column;
    .page-header{
        height: 80px;
        .grid-button-container{
            display: grid;
            grid-auto-flow: column;
            gap: 5px;
            .grid-item{
               
                .form-options{
                    width: 100%;
                    &.form-buttons{
                        height:55px
                    }
                }
            }
        }
        .select-form-container{
            .form-input{
                width: 270px;
            }
        }
    }
    .page-body{
        background-color: #f3f3f3;
    }
}