<div class="page-container">
    <div class="home-page">
        <div class="page-header">
            <div class="p-header-title">
                <span class="page-title">Home</span>
                <span class="page-description">Acompanhe os registros de simuladores</span>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="graphic-container">

        </div>
        <div class="reports">
            <span class="recent-reports">Recent reports</span>
            <div class="report-container">
                <div class="report-head">
                    <div class="report-icon">
                        <img src="assets/icons/report-icon.png" alt="">
                    </div>
                    <div class="report-description">
                        <span>Title</span>
                        <span>Date</span>
                    </div>
                </div>
                <div class="report-bars">
                    <img src="assets/icons/report-bars.png" alt="">
                </div>
                <div class="report-grid">
                    <img src="assets/icons/report-grid.png" alt="">
                </div>
            </div>
            <div class="report-container">
                <div class="report-head">
                    <div class="report-icon">
                        <img src="assets/icons/report-icon.png" alt="">
                    </div>
                    <div class="report-description">
                        <span>Title</span>
                        <span>Date</span>
                    </div>
                </div>
                <div class="report-bars">
                    <img src="assets/icons/report-bars.png" alt="">
                </div>
                <div class="report-grid">
                    <img src="assets/icons/report-grid.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
