<div class="page-container">
    <div class="home-page">
        <div class="page-header">
            <div class="p-header-title">
                <span class="page-title">Home</span>
                <span class="page-description">Visão geral</span>
            </div>
        </div>
    </div>
    <div class="page-content">

        <div class="page-grid">
            <div class="colum">
                <div class="graphic-container">
                    <canvas id="generalChart"></canvas>
                </div>
            </div>
            <div class="colum page-info">
                <div class="colum-text">
                    <span>Informações gerais sobre os relatórios do sistema. Todos os registros aqui são feitos mediante ao registro de relatórios e são
                        calculados em um somatório mensal.
                    </span>
                </div>
                <div class="column-footer">
                    <div class="report-badge">
                        <span>Relatórios</span>
                        <span>{{lessonData?.length}}</span>
                    </div>
                    <div class="report-badge">
                        <span>Limpezas</span>
                        <span>{{cleaningCountData?.length}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="reports scroll-container">

            <span class="recent-reports">Registros Recentes</span>
            
            <div *ngIf="cleaningData?.length > 0 || lessonData?.length > 0; else showDefaultMsg">
               
                <div class="report-container" 
                    *ngFor="let element of recentReportsData?.lessons"
                    (click)="openPreviewLessonReportDialog(element)">
                     *ngFor="let element of recentReportsData?.lessons">

                    <div class="report-head">
                        <div class="report-icon">
                            <img src="assets/icons/report-icon.png" alt="">
                        </div>
                        <div class="report-description">
                            <span>Registro: <b>{{element.lessonCategory}}</b></span>
                            <span>Aula: {{element.lessonName}}</span>
                            <span>Date: {{element.date}}</span>
                            <span>Responsavél: {{element.user.name}}</span>
                        </div>
                    </div>
                    <div class="report-bars">
                        <img src="assets/icons/report-bars.png" alt="">
                    </div>
                    <div class="report-grid">
                        <img src="assets/icons/report-grid.png" alt="">
                    </div>

                </div>

                <div class="report-container" 
                    *ngFor="let element of recentReportsData?.scenarios"
                    (click)="openPreviewScenarioReport(element)">

                    <div class="report-head">
                        <div class="report-icon">
                            <img src="assets/icons/report-icon.png" alt="">
                        </div>
                        <div class="report-description">
                            <span>Registro: <b>Cenário Simulação</b></span>
                            <span>Categoria: {{element.scenarioCategory}}</span>
                            <span>Date: {{element.date}}</span>
                            <span>Responsavél: {{element.user.name}}</span>
                        </div>
                    </div>
                    <div class="report-bars">
                        <img src="assets/icons/report-bars.png" alt="">
                    </div>
                    <div class="report-grid">
                        <img src="assets/icons/report-grid.png" alt="">
                    </div>

                </div>

                <div class="report-container" 
                    *ngFor="let element of recentReportsData?.cleanings">

                    <div class="report-head">
                        <div class="report-icon">
                            <img src="assets/icons/report-icon.png" alt="">
                        </div>
                        <div class="report-description">
                            <span>Registro: <b>Limpeza</b></span>
                            <span>Categoria: {{element.cleaningCategory}}</span>
                            <span>Date: {{element.date}}</span>
                            <span>Responsavél: {{element.user.name}}</span>
                        </div>
                    </div>
                    <div class="report-bars">
                        <img src="assets/icons/report-bars.png" alt="">
                    </div>
                    <div class="report-grid">
                        <img src="assets/icons/report-grid.png" alt="">
                    </div>

                </div>

            </div>

            
            <ng-template #showDefaultMsg>
                <div class="report-content">
                    <span>Nenhum registro de aula recente ...</span>
                </div>
            </ng-template>
            
        </div>

    </div>
</div>
