<div class="page-container">
    <div class="home-page">
        <div class="page-header">
            <div class="p-header-title">
                <span class="page-title">Home</span>
                <span class="page-description">Visão geral</span>
            </div>
        </div>
    </div>
    <div class="page-content">

        <div class="page-grid">
            <div class="colum">
                <div class="graphic-container">
                    <canvas id="generalChart"></canvas>
                </div>
            </div>
            <div class="colum page-info">
                <div class="colum-text">
                    <span>Informações gerais sobre os relatórios do sistema. Todos os registros aqui são feitos mediante ao registro de relatórios e são
                        calculados em um somatório mensal.
                    </span>
                </div>
                <div class="column-footer">
                    <div class="report-badge">
                        <span>Relatórios</span>
                        <span>{{lessonData?.length}}</span>
                    </div>
                    <div class="report-badge">
                        <span>Limpezas</span>
                        <span>{{cleaningData?.length}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="reports scroll-container">

            <span class="recent-reports">Registros Recentes</span>

            <div class="report-container"
                *ngFor="let element of lessonData"
                (click)="openPreviewLessonDialog(element)">
                <div class="report-head">
                    <div class="report-icon">
                        <img src="assets/icons/report-icon.png" alt="">
                    </div>
                    <div class="report-description">
                        <span>Categoria: {{element.lessonCategory}}</span>
                        <span>Aula: {{element.lessonName}}</span>
                        <span>Date: {{element.date}}</span>
                        <span>Thales Carvalho</span>
                    </div>
                </div>
                <div class="report-bars">
                    <img src="assets/icons/report-bars.png" alt="">
                </div>
                <div class="report-grid">
                    <img src="assets/icons/report-grid.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
