
<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
        <img src="assets/icons/search-icon.png" alt="">
    </div>
    <!-- <div class="download">
        <img src="assets/icons/search-icon.png" alt="">
    </div> -->
</div>

<mat-dialog-content class="mat-typography" >
        
        <div class="dialog-body">

            <div class="body-header">
                <span class="simulator-image">
                    <img [src]="data?.simulator?.image" alt="">
                </span>
                <div class="header-description">
                    <h1>Simulador</h1>
                    <span>{{data?.simulator?.name}}</span>
                </div>
            </div>
            
            <h2>Caracteristicas</h2>
            <div class="detail-text-list">
                <span class="detail-text">{{data?.simulator?.details}}</span>
            </div>
         
        </div>
              
    
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
 
    <button class="default-btn cancel-btn" mat-dialog-close>Cancelar</button>
    
</mat-dialog-actions>
