
@import '../../../../../assets/scss/scrollBar';

.page{
    height: 100%;
    display: flex;
    flex-direction: column;

    .simulation-content{
        height: 100%;
        overflow-y: auto;
    }
    
    .scroll-container {
        height: 100%;
    }

}