<div class="modal-header">
    <div class="header-container">

        <div class="simulator-image">
            <img [src]="data?.simulator?.image" alt="">
            <span>{{data.simulator.name}}</span>
        </div>
        <div class="header-description">
            <span>
                A <b>limpeza </b>do simulador é um importante processo que vai garantir a durabilidade e a conservação da peça.
                Para além disso, aumenta o ciclo de vida do simulador, contribuindo para sua saúde.
            </span>
        </div>
        
    </div>
</div>

<mat-dialog-content class="mat-typography" >

    
    <div class="dialog-body" [formGroup]="form">

        <div class="dialog-container">  
            <h2 class="categ-title">Categoria da Limpeza</h2>
            <h2 class="categ-title">Data da limpeza</h2>
        </div>

        <div class="dialog-container">
     
            <div class="sub-item">
                
                <mat-radio-group formControlName="cleaningCategory">
                    <mat-radio-button  value="primária">Primária</mat-radio-button>
                    <span class="material-symbols-outlined">contact_support</span>
                    <mat-radio-button  value="secundária">Secundária</mat-radio-button>
                    <span class="material-symbols-outlined">contact_support</span>
                </mat-radio-group>

            </div>

            <div class="sub-item">
                <mat-form-field appearance="outline" class="medium-date-picker">
                    <mat-label>Escolha uma data...</mat-label>
                    <input formControlName="date"  matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="dialog-container">
            <div class="simulator-code">
                <mat-form-field class="code-field" appearance="outline">
                  <mat-label>Código</mat-label>
                  <mat-select formControlName="simulatorCode">
                      <mat-option #matoption *ngFor="let element of simulatorCodes"
                                  [value]="element.code">
                                  {{element.code}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="dialog-text">
                <span>Alta Fidelidade</span>
            </div>
        </div>
        
        <div class="dialog-container">
            <h2>Achados durante a Limpeza</h2>
            <mat-checkbox
            class="manitance-checkbox"
            (change)="checkBox($event.checked)"> 
                Nenhum
            </mat-checkbox>
        </div>
    
        <div class="text-area-container" *ngIf="checked else showTextArea">
            <p class="text-msg"[innerHtml]="textMsg"></p>
        </div>
    
        <div class="text-area">
            <ng-template #showTextArea>
                <mat-form-field class="textarea-form" appearance="outline">
                    <mat-label>Durante a Limpeza deste simulador...</mat-label>
                    <textarea formControlName="findings" matInput ></textarea>
                </mat-form-field>
            </ng-template>
        </div>
    
    </div>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
 
    <button class="default-btn cancel-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn confirm-btn" (click)="onSubmit()">Confirmar</button>
    
</mat-dialog-actions>