<div class="page">
    <div class="report-detail-list">

        <div class="empty-report-data"  *ngIf="!manitanceData || manitanceData.length === 0">
            <span class="empty-default-message">Não existem registros no momento...</span>
        </div>

        <h3>Achados de simuladores durante o registro de manutenção</h3>
        <div class="report-container-grid"
             *ngFor="let element of manitanceData">
            <div class="report-content">
                <div class="report-body">
                    <div class="report-image">
                        <img [src]="element.simulatorImage" alt="simulatorImag">
                    </div>
                    <div class="report-info">
                        <span>Simulador: {{element.simulatorName}}</span>
                        <span>Manutenção: {{element.manitanceCategory}}</span>
                        <span>Data: {{element.date}}</span>
                            <div class="report-button" 
                                (click)="openInterventionReport(element)"
                                [ngClass]="element.hasIntervention ? 'green' : 'red'">
                            <span>
                                {{ element.hasIntervention ? 'Chamado Fechado' : 'Chamado Aberto' }}
                            </span> 
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="report-content">
                <div class="report-footer" (click)="openPreviewCleaningReportDialog(element)">
                    <div class="footer-header">
                        <span>Achados da manutenção:</span>
                        <span class="report-code" [ngClass]="element.hasIntervention ? 'green' : 'red'">Manutenção: {{element.manitanceCategory}}</span>
                    </div>
                    <div class="footer-content">
                        <span>{{element.manitanceFindings}}</span>
                    </div>
                    <div class="footer-action">
                        <div class="footer-button" (click)="openPreviewCleaningReportDialog(element)">
                            <div class="intervention" *ngIf="element.intervention else default">
                                <span><b>Status: {{element.intervention.interventionStatus}}</b></span>
                            </div>
                            <ng-template #default>
                                <span><b>Status: Enviado para manutenção...</b></span>
                            </ng-template>
                            <span class="material-symbols-outlined">visibility</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
