<div class="page">
    <div class="report-detail-list">
        <div class="report-detail-container" 
             *ngFor="let element of manitanceData">

              <div class="report-content">
                    <div class="report-body">
                        <div class="report-image">
                            <img [src]="element.simulatorImage" alt="">
                        </div>
                        <div class="report-info">
                            <span>Title: {{element.simulatorName}}</span>
                            <span>Manutenção: {{element.manitanceCategory}}</span>
                            <span>Status:ABERTO</span>
                        </div>
                    </div>
              </div>
              
              <div class="report-content">

                <div class="report-content-header">
                    <span>Achados:</span>
                    <span class="report-code">Abertura: {{element.date}}</span>
                </div>
                <div class="report-content-body">
                    <span>{{element.manitanceFindings}}</span>
                </div>
                <div class="report-content-footer">
                    <div class="link-description" (click)="openPreviewCleaningReportDialog(element)">
                        <span>Imprimir...</span>
                    </div>
                    <span class="material-symbols-outlined">visibility</span>
                </div>

              </div>
        </div>
    </div>
</div>
