<div class="page">
    <div class="report-detail-list">
        <div class="report-detail-container" 
             *ngFor="let element of manitanceData">
              <div class="report-content">
                    <div class="report-body">
                        <div class="report-image">
                            <img [src]="element.simulatorImage" alt="">
                        </div>
                        <div class="report-info">
                            <span>Title: {{element.simulatorName}}</span>
                            <span>Manutenção: {{element.manitanceCategory}}</span>
                            <span>Status:ABERTO</span>
                        </div>
                    </div>
              </div>
              <div class="report-content">
                <div class="report-content-header">
                    <span>Achados:</span>
                    <span class="report-code">Abertura: {{element.date}}</span>
                </div>
                <div class="report-content-body">
                    <span>This place is where the user description text of simulator mal-functions should be</span>
                </div>
                <div class="report-content-footer">
                    <span>Saber mais...</span>
                </div>
              </div>
        </div>
    </div>
</div>
