
<div class="page">
    
    <div class="add-item-container">
        <div class="add-item">
            <span class="add-text">Adicionar </span>
            <span class="material-symbols-outlined">add_circle</span>
        </div>
    </div>

    <div class="cards-list">
        <div class="card" 
             *ngFor="let element of simulatorClasses index as i" 
             routerLink="/private/cleaning/Habilidade/{{i}}">
            <div class="card-head">
                <div class="card-img">
                    <img [src]="element.classImage" alt="">
                </div>
                <div class="card-description">
                    <span class="card-title">{{element.simulatorClass}}</span>
                    <span>Simuladores cadastrados</span>
                    <span>{{element.simulators.length}}</span>
                </div>
            </div>
            <div class="card-divider"></div>
            <div class="card-footer">
                <span>Laboratório de Simulação</span>
            </div>
        </div>
    </div>

</div>

