<div class="header">
    <div class="close" (click)="onClose()">
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
    </div>
</div>

<mat-dialog-content class="mat-typography" >
        <div class="dialog-body scroll-container">
            <h2>{{data.dataName}} cadastradas</h2>

            <div class="loader-container" *ngIf="isLoading">
                <span class="loader"></span>
            </div>

            <div class="discipline-container" 
                 *ngFor="let element of disciplines index as i"
                  (click)="openConfirmRemoveDialog(element, i)">

                <div class="simulator-image">
                    <img src="assets/images/logo/th-logo.png" alt="lesson image">
                </div>

                <div class="header-description">
                    <span>Nome: {{element.documentData.name}}</span>
                    <span>Sigla: {{element.documentData.value}}</span>
                    <span>N° Aulas: {{element.documentData.lessons?.length}}</span>
                </div>
                <div class="remove-icon">
                    <span class="material-symbols-outlined">delete</span>
                </div>
            </div>
              
           

        </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button class="default-btn confirm-btn" (click)="onClose()">Cancelar</button>         
</mat-dialog-actions>


