<div class="page">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="../../../simulacao"> Treinamentos </a></li>
            <li class="breadcrumb-item active" aria-current="page"><a>treinamento {{routeIndex}}</a></li>
        </ol>
    </nav>
    <div class="details-list">
        <div class="card-container">
            <div class="card-head">
                <div class="card-image"></div>
                <div class="card-description">
                    <span>Lesson title </span>
                    <span>Lesson description</span>
                    <span>Quantity</span>
                </div>
            </div>
            <div class="register-container">
                <span class="register-btn">Registro</span>
            </div>
        </div>
</div>