<div class="header">
    <div class="header-container">
        <!-- <div class="icon">
            <img src="assets/icons/warning.png" alt="">
        </div> -->
        <div class="title">
            <img src="assets/icons/warning.png" alt="">
            <span>Faltam campos!</span>
        </div>
        <div class="close" mat-dialog-close>
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>
</div>

<mat-dialog-content class="mat-typography" >
    
    <div class="dialog-body">
        <span>Todos os campos devem ser preenchidos, favor validar os campos em vermelho</span>
    </div>
          

</mat-dialog-content>
