
.header-container{
    font-size: 23px;
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    gap: 14px;

    img{
        height: 57px;
    }

    .title{
        display: flex;
        align-items: center;
        gap: 9px;
    }
    
    .close{
        margin-right: 18px;
        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 5px 2px;
        }
    }
}
.dialog-footer{
    display: flex;
    justify-content: flex-end;
}