<div class="page">
    <div class="report-detail-list">

        <div class="page-header-description">
            <span>Todos os achados do simuladores encontrado durante a aula</span>
        </div>
        
        <div class="empty-report-data"  *ngIf="!lessonData || lessonData.length === 0">
            <span class="empty-default-message">Não existem registros no momento...</span>
        </div>

             
        <div class="report-container-grid medium-report"
             *ngFor="let element of lessonData">
            <div class="report-content">
                <div class="report-body">
                    <div class="report-image">
                        <img [src]="element.lessonImage" alt="leeson-image">
                    </div>
                    <div class="report-info">
                        <span>Aula: {{element.lessonName}}</span>
                        <span>Tipo: {{element.lessonCategory}}</span>
                        <span>Data abertura: {{element.date}}</span>

                        <div class="report-button" 
                            (click)="openInterventionReport(element)"
                            [ngClass]="element.hasIntervention ? 'green' : 'red'">
                            <span> {{ element.hasIntervention ? 'Chamado Fechado' : 'Chamado Aberto' }}</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="report-content">
                <div class="report-footer" (click)="openPreviewSimulatorReportDialog(element)">
                    <div class="footer-header">
                        <span>Ocorrência de simulador</span>
                        
                    </div>
                    <div class="footer-content">
                        <span>{{element.simulatorReport.ocorrance}}</span>
                    </div>
                    <div class="footer-action">
                        <div class="footer-button">
                            <div class="intervention" *ngIf="element.intervention else default">
                                 <span>Status: {{element.intervention.interventionStatus}}</span>
                            </div>
                            <ng-template #default>
                                <span>Status: Enviado para manutenção...</span>
                            </ng-template>
                            <span class="material-symbols-outlined">visibility</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>
</div>
