<div class="page">
    <div class="report-detail-list">
        <h3>Achados do simulador encontrado durante a aula</h3>
        <div class="empty-report-data"  *ngIf="!lessonData || lessonData.length === 0">
            <span class="empty-default-message">Não existem registros no momento...</span>
        </div>
        <div class="report-detail-container" 
             *ngFor="let element of lessonData">

              <div class="report-content">
                    <div class="report-body">

                        <div class="report-image">
                            <img [src]="element.lessonImage" alt="">
                        </div>

                        <div class="report-info">

                            <span>Aula: {{element.lessonName}}</span>
                            <span>Tipo: {{element.lessonCategory}}</span>
                            <span>Data abertura: {{element.date}}</span>
                            
                            <div class="intervention" *ngIf="element.intervention else default">
                                <span>Status::{{element.intervention.interventionStatus}}</span>
                            </div>

                            <ng-template #default>
                                 <span>Status: Enviado para manutenção...</span>
                            </ng-template>

                            <div class="report-button" 
                                (click)="openInterventionReport(element)"
                                [ngClass]="{'red': element.hasIntervention}">

                                <span> {{ element.hasIntervention ? 'Chamado Fechado' : 'Chamado Aberto' }}</span>
    
                            </div>
                            
                        </div>
                    </div>
              </div>

              <div class="report-content">
                <div class="report-content-header">
                    <span>Ocorrência de simulador</span>
                    <!-- <span class="report-code">Código: {{element.simulatorReport.code}}</span> -->
                </div>
                <div class="report-content-body">
                    <span>{{element.simulatorReport.ocorrance}}</span>
                </div>
                <div class="report-content-footer">
                    <div class="link-description" (click)="openPreviewSimulatorReportDialog(element)">
                        <span>Imprimir</span>
                        <span class="material-symbols-outlined">visibility</span>
                    </div>              

                </div>
              </div>

        </div>
    </div>
</div>
