
<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
    </div>
    <div class="download">
        <img src="assets/icons/cloud-download-icon.png" alt="">
    </div>
</div>

<!-- lessonPreviewDialog  -->
 <div class="lessonDialog" *ngIf="isLessonReport">
    <mat-dialog-content class="mat-typography" >
   
        <!-- <div class="dialog-body">
            <div class="body-header">
                <span><img [src]="data?.reportData?.lessonImage" alt=""></span>
                <div class="header-description">
                    <h1>Imprimir Aula</h1>
                    <span>Disciplina: {{data?.reportData?.lessonCategory}} - {{data?.reportData?.lessonType}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                    <span>Aula: {{data?.reportData?.name}}</span>
                </div>
            </div>
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <div class="description" *ngIf="data.reportData?.lessonDescription">
                    <span>{{data?.reportData?.lessonOcorrance}}</span>
                </div>
                <div class="description" *ngIf="data.reportData?.simulatorDescription">
                    <span>{{data?.reportData?.simulatorOcorrance}}</span>
                </div>
                
            </div>
            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div> -->
        <div class="dialog-body" *ngIf="data.reportData?.simulatorDescription">
            <!-- lesson data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.lessonImage" alt=""></span>
                <div class="header-description">
                    <h1>Dados da Aula</h1>
                    <span>Disciplina: {{data?.reportData?.lessonCategory}} - {{data?.reportData?.lessonType}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                    <span>Aula: {{data?.reportData?.name}}</span>
                </div>
            </div>
            <!-- Simulator data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.simulatorImage" alt=""></span>
                <div class="header-description">
                    <h1>Dados do Simulador</h1>
                    <span>Nome: {{data?.reportData?.simulatorName}}</span>
                    <span>Código: {{data?.reportData?.simulatorCode}}</span>
                    <span>Disciplina: {{data?.reportData?.name}}</span>
                </div>
            </div>
             <!-- Simulator data description -->
            <div class="dialog-description">
                <h2>Descrição do chamado do simulador</h2>
                <div class="description">
                    <span>{{data?.reportData?.simulatorOcorrance}}</span>
                </div>
            </div>

            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div>

        <div class="dialog-body" *ngIf="data.reportData?.lessonDescription">
            <!-- lesson data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.lessonImage" alt=""></span>
                <div class="header-description">
                    <h1>Imprimir Curso</h1>
                    <span>Curso: {{data?.reportData?.lessonType}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                    <span>Disciplina: {{data?.reportData?.name}}</span>
                </div>
            </div>
         
             <!-- lesson data description -->
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <div class="description">
                    <span>{{data?.reportData?.lessonOcorrance}}</span>
                </div>
            </div>
            
            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div>



    </mat-dialog-content>
 </div>

 <!-- CursePreviewDialog  -->
 <div class="lessonDialog" *ngIf="isCurseReport">
    <mat-dialog-content class="mat-typography" >
    
        <div class="dialog-body" *ngIf="data.reportData?.simulatorDescription">
            <!-- lesson data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.lessonImage" alt=""></span>
                <div class="header-description">
                    <h1>Dados do Curso</h1>
                    <span>Curso: {{data?.reportData?.lessonType}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                    <span>Disciplina: {{data?.reportData?.name}}</span>
                </div>
            </div>
            <!-- Simulator data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.simulatorImage" alt=""></span>
                <div class="header-description">
                    <h1>Dados dos Simulador</h1>
                    <span>Nome: {{data?.reportData?.simulatorName}}</span>
                    <span>Código: {{data?.reportData?.simulatorCode}}</span>
                    <span>Disciplina: {{data?.reportData?.name}}</span>
                </div>
            </div>
             <!-- Simulator data description -->
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <div class="description">
                    <span>{{data?.reportData?.simulatorOcorrance}}</span>
                </div>
            </div>

            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div>

        <div class="dialog-body" *ngIf="data.reportData?.lessonDescription">
            <!-- lesson data info -->
            <div class="body-header">
                <span><img [src]="data?.reportData?.lessonImage" alt=""></span>
                <div class="header-description">
                    <h1>Imprimir Curso</h1>
                    <span>Curso: {{data?.reportData?.lessonType}}</span>
                    <span>Data abertura: {{data?.reportData?.date}}</span>
                    <span>Disciplina: {{data?.reportData?.name}}</span>
                </div>
            </div>
         
             <!-- lesson data description -->
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <div class="description">
                    <span>{{data?.reportData?.lessonOcorrance}}</span>
                </div>
            </div>
            
            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div>

    </mat-dialog-content>
 </div>

  <!-- CleningPreviewDialog  -->
 <div class="lessonDialog" *ngIf="data.isCleaningReport">
    <mat-dialog-content class="mat-typography" >
    
        <div class="dialog-body">
            <div class="body-header">
                <span><img [src]="data?.simulator?.simulatorImage" alt=""></span>
                <div class="header-description">
                    <h1>Imprimir Simulador</h1>
                    <span>Simulador: {{data?.simulator?.simulatorName}}</span>
                    <span>Data abertura: {{data?.simulator?.date}}</span>
                    <span>Código: {{data?.simulator?.simulatorCode}}</span>
                </div>
            </div>
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <div class="description">
                    <span>{{data?.simulator?.findings}}</span>
                </div>
            </div>
            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div>
              
    
    </mat-dialog-content>
 </div>

<mat-dialog-actions class="dialog-actions">
 
    <button class="default-btn cancel-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn confirm-btn">Download</button>
    
</mat-dialog-actions>
