
<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
    </div>
    <div class="download">
        <img src="assets/icons/cloud-download-icon.png" alt="">
    </div>
</div>

<!-- lessonPreviewDialog  -->
 <div class="lessonDialog" *ngIf="data.isLessonData">
    <mat-dialog-content class="mat-typography" >
    
        <div class="dialog-body">
            <div class="body-header">
                <span><img [src]="data?.simulator?.simulatorImage" alt=""></span>
                <div class="header-description">
                    <h1>lesson data</h1>
                    <span>Nome: {{data?.simulator?.simulatorName}}</span>
                    <span>Data abertura: {{data?.simulator?.date}}</span>
                    <span>Código: {{data?.simulator?.simulatorCode}}</span>
                </div>
            </div>
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <span>{{data?.simulator?.findings}}</span>
            </div>
            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div>
              
    
    </mat-dialog-content>
 </div>

 <!-- CursePreviewDialog  -->
 <div class="lessonDialog" *ngIf="!data.isLessonData">
    <mat-dialog-content class="mat-typography" >
    
        <div class="dialog-body">
            <div class="body-header">
                <span><img [src]="data?.simulator?.simulatorImage" alt=""></span>
                <div class="header-description">
                    <h1>curse data</h1>
                    <span>Nome: {{data?.simulator?.simulatorName}}</span>
                    <span>Data abertura: {{data?.simulator?.date}}</span>
                    <span>Código: {{data?.simulator?.simulatorCode}}</span>
                </div>
            </div>
            <div class="dialog-description">
                <h2>Descrição do chamado</h2>
                <span>{{data?.simulator?.findings}}</span>
            </div>
            <div class="manitance-register">
                <hr>
                <span>Status: Enviado para manutenção externa</span>
                <h2>Manutenção:</h2>
                <span>Nenhuma manutenção realizada</span>
                <span>Data manutenção: </span>
            </div>
            
        </div>
              
    
    </mat-dialog-content>
 </div>

<mat-dialog-actions class="dialog-actions">
 
    <button class="default-btn cancel-btn" mat-dialog-close>Cancelar</button>
    <button class="default-btn confirm-btn">Download</button>
    
</mat-dialog-actions>
