<div class="panel-container">
    <div class="recent-reports-list">
        <div class="panel-title">Meus Relatórios</div>
        <div class="report-item">
            <span> Relatórios de Habilidade</span>
            <span class="material-symbols-outlined">line_end_arrow</span>
        </div>
        <div class="report-item">
            <span>Relatórios de Média Fidelidade</span>
            <span class="material-symbols-outlined">line_end_arrow</span>
        </div>
        <div class="report-item">
            <span>Relatórios de Alta Fidelidade</span>
            <span class="material-symbols-outlined">line_end_arrow</span>
        </div>
    </div>
    <div class="logo-container">
        <div class="logo-icon">
            <img src="assets/images/logo/logo_icon.png" alt="">
        </div>
        <div class="logo-title">
            <img src="assets/images/logo/logo_title.png" alt="">
        </div>
    </div>
    <div class="version-container">
        <span>© 2024 All rights reserved -</span>
        <span class="v-number">V2.0</span>
    </div>
    <div class="theme-container">
        <p><mat-slide-toggle labelPosition="before">Tema</mat-slide-toggle></p>
    </div>
</div>
