<div class="header">
    <div class="close" mat-dialog-close>
        <span class="material-symbols-outlined">close</span>
    </div>
    <div class="header-container">
        <img src="assets/images/logo/logo_icon.png" alt="">
        <img src="assets/images/logo/logo_title.png" alt="">
        <!-- <img src="assets/icons/add.png" alt=""> -->
    </div>
</div>

<mat-dialog-content class="mat-typography" >
        <div class="dialog-body" [formGroup]="form">

            <div class="body-header">

                <div class="simulator-image">
                  <img src="assets/images/logo/th-logo.png" alt="">
                </div>
                
                <div class="header-description">

                    <h2>Novo treinamento de Habilidade</h2>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Numero(1-99)</mat-label>
                    <input matInput type="text" mask="00" placeholder="insira um Numero(1-99)" formControlName="value">
                  </mat-form-field>
                
              
                </div>
              </div>

        </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button class="default-btn confirm-btn" (click)="submitForm()">Adicionar</button>
            
</mat-dialog-actions>


