<div class="page">
    <div class="report-detail-list">
        <div class="nodata" *ngIf="cleaningData?.length == 0">
            <span>no data</span>
        </div>
        <h3>Achados de simulador encontrados durante a limpeza</h3>
        <div class="report-detail-container" 
             *ngFor="let element of cleaningData">

              <div class="report-content">
                    <div class="report-body">
                        <div class="report-image">
                            <img [src]="element.simulatorImage" alt="">
                        </div>
                        <div class="report-info">

                            <span>Simulador: {{element.simulatorName}}</span>
                            <span>Data: {{element.date}}</span>
                            <div class="intervention" *ngIf="element.intervention else default">
                                <span>Status::{{element.intervention.interventionStatus}}</span>
                            </div>
                            <ng-template #default>
                                <span>Status: Enviado para manutenção...</span>
                            </ng-template>

                            <div class="report-button" 
                                (click)="openInterventionReport(element)"
                                [ngClass]="{'red': element.hasIntervention}">
                            <span>
                                {{ element.hasIntervention ? 'Chamado Fechado' : 'Chamado Aberto' }}
                            </span>
                            
                            </div>

                        </div>
                    </div>
              </div>

              <div class="report-content">

                <div class="report-content-header">
                    <span>Achados de limpeza:</span>
                    <span class="report-code">Código: {{element.simulatorCode}}</span>
                </div>
                <div class="report-content-body">
                    <span>{{element.findings}}</span>
                </div>
                <div class="report-content-footer">
                    <div class="link-description" (click)="openPreviewCleaningReportDialog(element)">
                        <span>Imprimir</span>
                        <span class="material-symbols-outlined">visibility</span>
                    </div>
                    
                </div>

              </div>
        </div>
    </div>
</div>