<div class="page scroll-container">

    <div class="details-list">

        <div class="card-container" *ngFor="let simulator of mediumSimulators">
            <div class="card-body" (click)="openMediumCleaningDialog(simulator)">
                <div class="card-head">
                    <div class="card-image">
                        <img [src]="simulator.image" alt="">
                    </div>
                    <div class="card-description">
                        <span>{{simulator.name}}</span>
                        <span>{{simulator.description}}</span>
                        <span>Quantidade: {{simulator.codes.length}}</span>
                    </div>
                </div>
            </div>
            <div class="register-container" (click)="openDetailsPanel(simulator)">
                <span class="register-btn">Descrição Técnica</span>
            </div>
        </div>

    </div>
    
</div>

