.page{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;

    .page-body{
        height: 100%;
        padding-top: 20px;
        .page-row{
            display: flex;
            gap: 10px;
        
            .user-info{
                .password-forms{
                    display: flex;
                    align-items: baseline;
                    gap: 10px;
                }
            }

            .form-field-email{
                mat-form-field{
                    width: 248px;
                }
            }
    
        }
        .page-confirm{
            display: flex;
            padding-bottom: 22px;
        }
    }


}