<div class="page">
    <div class="page-title">Informações de perfil</div>
    <div class="page-body">
        <div class="page-row">
            <div class="form-field">
                <mat-form-field  appearance="outline">
                    <mat-label>Editar login</mat-label>
                    <input matInput placeholder="Ex. paulo.vieira">
                  </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field  appearance="outline">
                    <mat-label>Editar nome </mat-label>
                    <input matInput placeholder="Ex. Paulo">
                  </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field  appearance="outline">
                    <mat-label>Editar e-mail </mat-label>
                    <input matInput placeholder="Ex. Paulo">
                  </mat-form-field>
            </div>
        </div>
        <div class="page-row">
            <div class="user-info">
                <div class="page-title">Alterar senha</div>
                <div class="password-forms">
                    <div class="form-field">
                        <mat-form-field  appearance="outline">
                            <mat-label>Nova senha</mat-label>
                            <input matInput>
                          </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field  appearance="outline">
                            <mat-label>Confirmar senha</mat-label>
                            <input matInput>
                          </mat-form-field>
                    </div>
                    <div class="form-field">
                        <button mat-raised-button>Alterar</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="page-row">  
            <div class="user-info">
                <div class="page-title">Tipo de usuário</div>
                <mat-card appearance="outlined">
                    <mat-card-content>Técnico de simulação</mat-card-content>
                </mat-card>
                
            </div>
        </div>
    </div>
</div>
