
.page{
    padding: 10px;
    .empty-report-data{
        margin-top: 23px;
        .empty-default-message{
            font-size: 23px;
        }
    }

    .filter-container{
        display: flex;
        gap: 35px;
    
        .period-container{
            display: flex;
            gap: 10px;
            align-items: baseline;
        }
    }
}
